<template>
    <div>
        <div>
          <div class="square" @click="changeColor1 = !changeColor1" :class="{red: changeColor1}"></div>
          <div class="square" @click="changeColor2 = !changeColor2" :class="{red: changeColor2}"></div>
          <div class="square" @click="changeColor3 = !changeColor3" :class="{blue: changeColor3}"></div>
          <div class="square" @click="changeColor4 = !changeColor4" :class="{red: changeColor4}"></div>
        </div>
        <div>
          <div class="square":style="{backgroundColor: color}"></div>
          <div class="square":style="customStyle"></div>
          <div class="square"></div>
             <v-row>
                 <v-col
                      cols="12"
                      sm="6"
                      md="3"
                 >
                    <v-text-field label="Color input" v-model="color" ></v-text-field>
                 </v-col>
                 <v-col>
                    <v-text-field label="Color input" v-model="width" ></v-text-field>
                 </v-col>
               <v-col>
                 <v-text-field label="Color input" v-model="height" ></v-text-field>
               </v-col>
             </v-row>
        </div>
    </div>
</template>
<script>
export default {
  data(){
    return{
        changeColor1:false,
        changeColor2:false,
        changeColor3:false,
        changeColor4:false,
        color: "gray",
        width: 100,
        height: 100,
    }
  },
  methods: {
  },
  mounted() {
  },
  computed:{
    customStyle:function (){
     return{
       backgroundColor: this.color,
       width: this.width +"px",
       height: this.height+ 'px',
     }
    }
  }
}
</script>
<style>
.square{
  width: 100px;
  height: 100px;
  background-color: gray;
  display: inline-block;
  margin: 10px;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.marquee{
  color: darkred;
  font-size: 30px;
  animation: marquee 25s linear infinite;
  webkit-animation: marquee 25s linear infinite;
}
.v-toolbar__title{
  color: darkred;
  box-shadow: none;
}
.divm {
  background-color: aqua;
}
.right {
  color: black;
  font-size: 20px;
  position: absolute;
  right: 0;
  background-color: coral;
  animation: ri 20s linear infinite;
}
@keyframes marquee {
  0% {left: 100%}
  100% {left: -100%}
}
@keyframes ri {
  0% {right: 100%}
}
.v-sheet.v-toolbar {
  /*background-color: #42b983 !important;*/
  box-shadow: none !important;
  /*border-top-left-radius: 45px;*/
  /*border-top-right-radius: 45px;*/
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
</style>
