<template>
      <v-container style="background-color: #42b983" fluid id="con">
        <div  :style="{animationDuration: animationDurations}" ref="nam" class=" anima pa-0" >
          {{text1}}
        </div>
      </v-container>
</template>
<script>
export default {
data(){
  return{
      windowWidth: window.innerWidth,
      text1: "It allows us to apply transitional changing effects to CSS rules. If you are already familiar 9 thg 4, 2018 — CSS3 Transition is one of the great additions in CSS3. It allows us to apply transitional changing effects to CSS rules. If you are already familiar It allows us to apply transitional changing effects to CSS rules. If you are already familiar 9 thg 4, 2018 — CSS3 Transition is one of the great additions in CSS3. It allows us to apply transitional changing effects to CSS rules. If you are already familiar................",
      animationDurations:"",
  }
},
  methods: {
    handleWindowResize(e) { this.windowWidth = e.currentTarget.innerWidth;
      this.setanimationDuration();
    },
    setanimationDuration(){
      if(this.windowWidth > 2000) {
        this.animationDurations = "25s"
      }
      else if(this.windowWidth>1000){
        this.animationDurations = "33s"
      }else {
        this.animationDurations = "18s"
      }
    }
  },
  mounted() {
    window.addEventListener('resize', this.handleWindowResize);
    this.setanimationDuration();
  },
}
</script>
<style>
.anima {
  position: relative !important;
  height: 50px!important;
  text-overflow: ellipsis;
  white-space: pre;
  animation-name:anima ;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  webkit-animation: marquee 25s linear infinite;
}
.v-toolbar__title{
  color: darkred;
  box-shadow: none;
}
.right {
  color: black;
  font-size: 20px;
  position: absolute;
  right: 0;
  animation: ri 20s linear infinite;
}
@keyframes anima {
  from {left: 100%;}
  to {left: -2560px;}
}
.v-sheet.v-toolbar {
  /*background-color: #42b983 !important;*/
  /*box-shadow: none !important;*/
  /*!*border-top-left-radius: 45px;*!*/
  /*!*border-top-right-radius: 45px;*!*/
  /*border-bottom-right-radius: 15px;*/
  /*border-bottom-left-radius: 15px;*/
}
.container{
  position: relative !important;
  height: 50px!important;
  text-overflow: ellipsis;
  white-space: pre;
}
.theme--light.v-card{
  background-color: #fff0 ;
  box-shadow: none !important;
}
.v-card__text{
  height: 20px !important;
  width: 100% ;
  text-overflow: ellipsis ;
  white-space: pre;
}
@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
</style>
