<template>
    <div id="app">
    
    
        <div>
            <div class="text-center">
                <v-btn color="deep-purple accent-4" dark @click="changeAlert">
                    Alert
                </v-btn>
                <v-btn elevation="3" disabled>sdjhasd</v-btn>
            </div>
            <v-alert border="left " type="error" color="pink darken-1" elevation="2" 
            v-model="alert" colored-border icon="mdi-twitter" 
            dismissible transition="scale-transition">
                Aliquam eu nunc. Fusce commodo aliquam arcu. In consectetuer turpis ut velit. Nulla facilisi.. Morbi mollis tellus ac sapien. Fusce vel dui. Praesent ut ligula non mi varius sagittis. Vivamus consectetuer hendrerit lacus. Suspendisse enim turpis, dictum
                sed, iaculis a, condimentum nec, nisi.
            </v-alert>
        
            <div>
                <v-badge color='purple' block>
                </v-badge>
            </div>
    
            <v-row justify="space-around">
                <v-btn class="mx-2" fab dark small color="primary" >
                    <v-icon large color="orange darken-2">
                        mdi-checkbox-marked-circle
                    </v-icon>
                </v-btn>
                <v-btn class="mx-2" fab dark small>
                    <v-icon large color="green darken-2">
                        mdi-checkbox-marked-circle
                    </v-icon>
                </v-btn>
                <v-btn class="mx-2" fab dark small>
                    <v-icon large color="blue darken-2">
                        mdi-message-text
                    </v-icon>
                </v-btn>
                <v-btn class="mx-2" fab small color="green">
                    <v-icon large color="purple darken-2">
                        mdi-dialpad
                    </v-icon>
                </v-btn>
                <v-btn icon>
                    <v-icon large color="teal darken-2" >
                        mdi-email
                    </v-icon>
                </v-btn>
                <v-btn icon>
                    <v-icon large color="blue-grey darken-2">
                        mdi-call-split
                    </v-icon>
                </v-btn>
                <v-btn icon>
                    <v-icon large color="orange darken-2">
                        mdi-arrow-up-bold-box-outline
                    </v-icon>
                </v-btn>
    
                <v-btn fab small>
                    <v-icon large color="red darken-2">
                        mdi-whatsapp
                    </v-icon>
                </v-btn>
              
    
            </v-row>
            
            <v-row>
                        <v-spacer v-show="hidden"></v-spacer>
              <v-btn @click="hiden"  >
                    <div v-show="hidden">NEXT
                        <v-icon large color="blue">
                            
                           mdi-arrow-right
                        </v-icon>
                    </div>
                    <div> 
                         <v-sheet
                            id="scrolling-techniques-8"
                            class="overflow-y-auto"
                            max-height="00"
    >
                            <v-container style="height: 1500px;">
                            </v-container>
                        </v-sheet>
                    </div>
                    <div v-show="!hidden">
                        <v-icon large color="teal darken-2">
                            mdi-arrow-left
                        </v-icon>BACK
                    </div>
    
                </v-btn>
            </v-row>
        </div>
                <div> 
             <template>
            <v-sheet
             
              class="pa-3"
            >
            <v-skeleton-loader
              class="mx-auto"
              max-width="300"
              type="card"
            ></v-skeleton-loader>
  </v-sheet>
        </template>
        </div>
    </div>
     
</template>
  

<script>
export default {
    name: 'HelloWorld',
    props: {
        msg: String
    },
    data() {
        return {
            alert: false,
            hidden: true,
                    }
    },
    methods: {
        changeAlert() {
            this.alert = !this.alert;
        },
        hiden() {
            this.hidden = !this.hidden
        },

    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
</style>
