<template>
    <div id="inspire">
    
        <v-card id="lateral" loading>
    
            <v-toolbar height='140px'>
    
                <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
    
                <v-toolbar-title>Page Title</v-toolbar-title>
                <v-navigation-drawer
                    v-model="drawer"
                    absolute
                    temporary
                >
                    <v-list >
                        <v-list-item-group>
                            <v-list-item>
                                <v-list-item-icon>
                                    <v-icon>
                                        mdi-home
                                    </v-icon>
                                    <v-list-item-title>
                                        Home
                                    </v-list-item-title>
                                </v-list-item-icon>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-icon>
                                    <v-icon>
                                        mdi-account
                                    </v-icon>
                                    <v-list-item-title>
                                        Account
                                    </v-list-item-title>
                                </v-list-item-icon>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-navigation-drawer>
    
                <v-spacer></v-spacer>
    
                <v-btn icon>
    
                    <v-icon>mdi-magnify</v-icon>
    
                </v-btn>
    
                <v-btn icon>
    
                    <v-icon>mdi-dots-vertical</v-icon>
    
                </v-btn>
    
                <template v-slot:extension>
    
                            <v-tabs v-model="tabs" background-color="cyan" 
    
                            dark next-icon="mdi-arrow-right-bold-box-outline"
    
                            prev-icon="mdi-arrow-left-bold-box-outline" >
    
                                <v-tab href="#one" fixed-tabs>ONE</v-tab>
    
                                <v-tab href="#two"> TWO</v-tab>
    
                                <v-tab href="#three"> Three</v-tab>
    
                                <v-tabs-slider color="orange"></v-tabs-slider>
    
                            </v-tabs>
                    </template>
        </v-toolbar>
        <v-card-text> 
            <v-tabs-items v-model="tabs"> 
                <v-card-title> Title card</v-card-title>
            <v-tab-item
                  v-for="content in ['one', 'two', 'three','four']"
                  :key = "content"
                  :value = "content"
            > 
               <v-card height="200px">  
                   
                 <v-img
                      lazy-src="https://picsum.photos/500/300?image=40"
                      max-height="150"
                       max-width="250"
                      src="https://picsum.photos/500/300?image=40"
                      transition
                      dark
                 ></v-img>
               </v-card>
            </v-tab-item>
            </v-tabs-items>
        </v-card-text>
        <v-fab-transition> 
            <v-btn fab
                large
                :key="activeFab.icon" 
                :color="activeFab.color"
            > 
                <v-icon>
                    {{activeFab.icon}}
                </v-icon>
            </v-btn>
        </v-fab-transition>
    </v-card>
</div>
</template>

<script>
export default {
    data() {
        return {
            tabs: null,drawer: false,
        }
    },
    computed: {
        activeFab() {
            switch (this.tabs) {
                case 'one':
                    return { color: 'success', icon: 'mdi-share-variant' }
                case 'two':
                    return { color: 'red', icon: 'mdi-pencil' }
                case 'three':
                    return { color: 'green', icon: 'mdi-chevron-up' }
                default:
                    return {}
            }
        }
    },
    methods: {

    },
}
</script>

<style>

</style>