<template>

          
  <v-row>
      <v-col>
         
        <v-card>
          <v-speed-dial
      v-model="fab"
      :top="true"
      :bottom="true"
      :right="true"
      :left="false"
      
    >
      <template v-slot:activator>
        <v-btn
          v-model="fab"
          color="blue darken-2"
          dark
          fab
        >
          <v-icon v-if="fab">
            mdi-close
          </v-icon>
          <v-icon v-else>
            mdi-account-circle
          </v-icon>
        </v-btn>
      </template>
          </v-speed-dial>
          
          <v-toolbar>
            <v-app-bar-nav-icon> </v-app-bar-nav-icon>
          <v-toolbar-title > MY FILES</v-toolbar-title>
         
           <template v-slot:extension>
            <v-btn
              fab
              color="cyan accent-2"
              bottom
              left
              absolute
              @click="dialog = !dialog"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>
         
        
          <v-spacer> </v-spacer>
          <v-btn icon> 
            <v-icon >mdi-magnify </v-icon>
          </v-btn>
          <v-btn icon> 
            <v-icon >mdi-view-module </v-icon>
          </v-btn>
          </v-toolbar>
          <v-list>
            <v-subheader> Foders </v-subheader>
            <v-list-item 
            v-for="item in items"
            :key="item.title"
            link
            >
                <v-list-item-avatar :class="[item.iconClass]">
                    <v-icon> 
                        {{ item.icon }}
                    </v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                    {{item.title}}
                    <v-list-item-subtitle>
                   {{item.subtitle}}
                </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                    <v-btn icon>
                        <v-icon> 
                          mdi-information
                        </v-icon>
                    </v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-divider inset></v-divider>
            <v-subheader> Files </v-subheader>
            <v-list-item 
              v-for="item in items2"
              :key="item"
              link
            >
              <v-list-item-avatar> 
                <v-icon :class="[item.iconClass]">
                    {{item.icon}}
                </v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                  {{item.title}}
                  <v-list-item-subtitle>
                    {{item.subtitle}}
                  </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                  <v-btn icon>
                    <v-icon>
                       mdi-information
                    </v-icon>
                  </v-btn>
              </v-list-item-action>
            </v-list-item>
            <v-dialog v-model="dialog">
                <v-card>
                    <v-card-text>
                        <v-text-field label="File Name">
                        </v-text-field>
                        <small>This doesn't actually save. </small>
                        
                        <v-card-actions>
                          <v-spacer> </v-spacer>
                            <v-btn
                              text
                              @click="dialog=false"
                            > 
                              Submit
                            </v-btn>
                        </v-card-actions>
                    </v-card-text>
                    
                </v-card>
            </v-dialog>
          </v-list>
           
        </v-card>
      </v-col>
      
  </v-row>
  
</template>

<script>
export default {
  data() {
    return {
      dialog:false, fab:false,
      items: [
          { icon: 'mdi-folder', iconClass: 'grey lighten-1 white--text', title: 'Photos', subtitle: 'Jan 9, 2014' },
          { icon: 'mdi-folder', iconClass: 'grey lighten-1 white--text', title: 'Recipes', subtitle: 'Jan 17, 2014' },
          { icon: 'mdi-folder', iconClass: 'grey lighten-1 white--text', title: 'Work', subtitle: 'Jan 28, 2014' },
        ],
        items2: [
          { icon: 'mdi-clipboard-text', iconClass: 'blue white--text', title: 'Ghi chú', subtitle: 'Jan 20, 2014' },
          { icon: 'mdi-gesture-tap-button', iconClass: 'amber white--text', title: 'Xóa', subtitle: 'Jan 10, 2014' },
        ],
    }
  },
}
</script>

<style>

</style>