<template>
  <v-card class="overflow-hidden">
      <v-app-bar
        color="#fcb69f"
        src="https://picsum.photos/1920/1080?random"
        shrink-on-scroll
        dark
      >
        <v-app-bar-nav-icon>
        </v-app-bar-nav-icon>
            <v-toolbar-title>Page Title</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon>
            <v-icon>
                mdi-magnify
            </v-icon>
        </v-btn>
        <v-btn icon>
            <v-icon>
                mdi-heart
            </v-icon>
        </v-btn>
        <v-btn icon>
            <v-icon>
                mdi-dots-vertical
            </v-icon>
        </v-btn>
      </v-app-bar>
      <v-sheet
      id="scrolling-techniques-8"
      class="overflow-y-auto"
      max-height="00"
    >
      <v-container style="height: 1500px;">
      </v-container>
    </v-sheet>
  </v-card>

</template>

<script>
export default {

}
</script>

<style>

</style>