<template>
    <v-app>
        <!-- <v-app-bar app color="primary" dark>
            <div class="d-flex align-center">
                <v-img alt="Vuetify Logo" class="shrink mr-2" contain src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png" transition="scale-transition" width="40" />
            </div>
    
             
        </v-app-bar> -->
        <v-main>
            <div>
<!--                 <calendar/>-->
<!--                 <ltrScreen/>-->
                  <toolbar/>
                  <animation/>
                  <animationFix/>
                 <HelloWorld/>
                  <tableDataIterators/>
<!--                 <smVariant/>-->
<!--                <simpleTable/>-->
            </div>
        </v-main>
    </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';
import ltrScreen from './components/ltrScreen';
import smVariant from './components/smVariant';
import calendar from './components/calendar';
import expansion from './components/expansion';
import toolbar from './components/toolbar';
import tableDataIterators from './components/tablesDataIterators'
import simpleTable from './components/simpleTabale';
import animation from "./components/animation";
import animationFix from "./components/animationFix";


 
export default {
    
    name: 'App',

    components: {
        HelloWorld,
        ltrScreen, smVariant, calendar, expansion , toolbar ,tableDataIterators, simpleTable, animation, animationFix
    },

    data: () => ({


    }),
};
</script>
